@model IEnumerable<Project.Models.Product>

@{
    ViewBag.Title = "ViewAll";
    Layout = null;
}

</p>

<table class="table table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.supplier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            <a class="btn btn-primary btn-sm" onclick="Edit('@Url.Action("AddOrEdit", "Product", new { id = item.id})')"><i class="fa fa-pencil fa-lg"></i></a>
            <a class="btn btn-danger btn-sm"><i class="fa fa-trash fa-lg"></i></a>
        </td>
    </tr>
}

</table>
